<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/bootstrap/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/jquery/jquery-2.1.4.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <div class="container">
			  <table class="table">
			    <thead>
			      <tr>
			        <th>Name</th>
			        <th>Description</th>
			        <th>Author</th>
			        <th>Select</th>
			      </tr>
			    </thead>
			    <tbody>
			      <tr {{#ideaList}}>
			        <td>{{title}}</td>
			        <td>{{description}}</td>
			        <td>{{author}}</td>
			        <td><button onClick="chooseThisIdea({{id}})">Select</button></td>
			      </tr {{/ideaList}}>
			    </tbody>
			  </table>
			</div>
        </div>
    </div>
</body>
<script>
function chooseThisIdea(ideaId) {
	console.log(ideaId);
}
</script>
</html>