<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/bootstrap/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <script src="/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h1>Comments for idea {{ideaID}}:</h1>
        {{#comments}}
            Date: {{datePosted}}
            Message: {{message}}
        {{/comments}}
        <hr />
        <h2>Add your own comment</h2>


    <form id="addComment" action="comments" method="POST">
        <input name="message" type="text" id="message"><label for="message">Comment:</label>
        <input type="submit" value="Submit">
    </form>

</div>
</div>
</body>
</html>