<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <h1>Idea details:</h1>

    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">{{idea.title}}</div>
        <div class="panel-body">
            <p>{{idea.description}}</p>
        </div>

        <!-- List group -->
        <ul class="list-group">
            <li class="list-group-item">By: {{idea.author}}</li>
            {{#idea.approved}}
            <li class="list-group-item list-group-item-success">Approved</li>
            {{/idea.approved}}
            {{^idea.approved}}
            <li class="list-group-item list-group-item-warning">Pending approval</li>
            {{/idea.approved}}
        </ul>
    </div>

    <h2>Add comment</h2>

    <form id="addComment" action="/idea/{{idea.id}}/comments/add" method="POST">
        <div class="input-group">
            <input type="text" name="message" class="form-control" placeholder="Your comment...">
            <span class="input-group-btn">
                <button class="btn btn-default" type="submit">Submit!</button>
            </span>
        </div>
        <!-- /input-group -->
    </form>
    <hr/>
    {{#comments}}
    <div class="panel panel-info">
        <div class="panel-heading">Date: {{datePosted}}</div>
        <div class="panel-body">
            {{message}}
        </div>
    </div>
    {{/comments}}
</div>
</body>
</html>