<!DOCTYPE html>
<html>
<head lang="pl">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/bootstrap/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <script src="/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <h1>Pomysł dodany!</h1>
    <p>autor: {{title}}</p>
    <p>tytuł: {{title}}</p>
    <p>opis: {{description}}</p>
    <a href="/idea">Lista pomysłów</a>
</div>
</body>
</html>