{{> header}}
<div class="container">
    <div>
        <h1>Ideas:</h1>
        <table class="table">
            <div class="media">
                <ul>
                    {{#ideaList}}
                    <div class="media">
                        <div class="media-left media-top">
                            <div class="form-inline">
                                <img class="media-object" onclick="javascript:upVoteThisIdea({{id}});"
                                     src="/images/like.png">
                                    <span id="upvote_{{id}}" class="label label-success label-as-badge">
                                        {{upVoteCount}}
                                    </span>

                                <img class="media-object" onclick="javascript:downVoteThisIdea({{id}});"
                                     src="/images/hate.png">
                                    <span id="downvote_{{id}}" class="label label-danger label-as-badge">
                                        {{downVoteCount}}
                                    </span>
                            </div>
                        </div>
                        <div class="media-body form-control">
                            <h4 class="media-heading"><a href="/idea/{{id}}">{{title}}</a></h4>
                            <h4 class="media-heading">
                                <small>Autor: {{author}}</small>
                            </h4>
                            {{description}}
                        </div>
                    </div>
                    {{/ideaList}}
                </ul>
            </div>
        </table>
    </div>
    <div>
        <h1 id="addIdea">Have an idea? Share it!</h1>

        <form class="form-horizontal" action="/idea/add" method="POST" enctype="application/x-www-form-urlencoded">
            <div class="form-group">
                <label class="control-label col-sm-2" for="author">Author</label>

                <div class="col-sm-10">
                    <input id="author" type="text" class="form-control" name="author"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="title">Title</label>

                <div class="col-sm-10">
                    <input id="title" type="text" class="form-control" name="title"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="title">Description</label>

                <div class="col-sm-10">
                    <textarea id="description" class="form-control" name="description"></textarea>
                </div>
            </div>
            <button type="submit" class="btn btn-default btn-lg">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Submit
            </button>
        </form>
    </div>
</div>
<script>
    function upVoteThisIdea(ideaId) {
        $.get("/" + ideaId + "/votelike", function (data) {
            $("#upvote_" + ideaId).text(data.upVoteCount);
            $("#downvote_" + ideaId).text(data.downVoteCount);
        });
        console.log("logging");
    }
    function downVoteThisIdea(ideaId) {
        $.get("/" + ideaId + "/votehate", function (data) {
            $("#upvote_" + ideaId).text(data.upVoteCount);
            $("#downvote_" + ideaId).text(data.downVoteCount);
        });
    }
</script>
{{> footer}}