{{> header}}
<div class="container">
    <h1>Approve ideas:</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Author</th>
            <th>Select</th>
        </tr>
        </thead>
        <tbody>
        <tr {{#ideaList}}>
            <td>{{title}}</td>
            <td>{{description}}</td>
            <td>{{author}}</td>
            {{# approved}}{{/approved}}
            {{^ approved}}
            <td>
                <button onClick="chooseThisIdea({{id}})">Approve</button>
            </td>
            {{/approved}}
        </tr {{/ideaList}}>
        </tbody>
    </table>
</div>
<script>
    function chooseThisIdea(ideaId) {
        console.log(ideaId);
        $.get("/chooseIdea/" + ideaId, function (data) {
        });
    }
</script>
{{> footer}}